.wrapper {
  width: 420px;
  background: lightgrey;
  padding: 5px;
  border: thin solid black;
}
input {
  border: thick solid black;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background: orange;
  padding: 5px 20px;
  margin-right: 10px;
}
img {
  width: 60px;
}
